*.[Tt][Ii][Ff] filter=lfs diff=lfs merge=lfs -text
*.[Ff][Bb][Xx] filter=lfs diff=lfs merge=lfs -text
*.[Pp][Nn][Gg] filter=lfs diff=lfs merge=lfs -text
*.[Dd][Ll][Ll] filter=lfs diff=lfs merge=lfs -text
*.[Zz][Ii][Pp] filter=lfs diff=lfs merge=lfs -text
*.[Uu][Nn][Ii][Tt][Yy][Pp][Aa][Cc][Kk][Aa][Gg][Ee] filter=lfs diff=lfs merge=lfs -text
*.[Bb][Ll][Ee][Nn][Dd] filter=lfs diff=lfs merge=lfs -text
*.[Gg][Ii][Ff] filter=lfs diff=lfs merge=lfs -text
*.[Oo][Bb][Jj] filter=lfs diff=lfs merge=lfs -text
*.[Mm][Pp][44] filter=lfs diff=lfs merge=lfs -text
*.[Ww][Aa][Vv] filter=lfs diff=lfs merge=lfs -text
*.[Aa][Ii] filter=lfs diff=lfs merge=lfs -text
*.[Oo][Gg][Gg] filter=lfs diff=lfs merge=lfs -text
*.[Mm][Pp][33] filter=lfs diff=lfs merge=lfs -text
*.[Jj][Pp][Ee][Gg] filter=lfs diff=lfs merge=lfs -text
*.[Mm][Oo][Vv] filter=lfs diff=lfs merge=lfs -text
*.[Pp][Ss][Dd] filter=lfs diff=lfs merge=lfs -text
*.[Bb][Yy][Tt][Ee][Ss] filter=lfs diff=lfs merge=lfs -text
*.[Jj][Pp][Gg] filter=lfs diff=lfs merge=lfs -text
*.[Nn][Uu][Pp][Kk][Gg] filter=lfs diff=lfs merge=lfs -text
*.[Tt][Gg][Aa] filter=lfs diff=lfs merge=lfs -text
*.[Mm][Dd][Bb] filter=lfs diff=lfs merge=lfs -text
*.[Bb][Ii][Nn] filter=lfs diff=lfs merge=lfs -text
*.[Tt][Tt][Ff] filter=lfs diff=lfs merge=lfs -text
*.[Rr][Ee][Ss][Oo][Uu][Rr][Cc][Ee] filter=lfs diff=lfs merge=lfs -text
*.[Pp][Dd][Ff] filter=lfs diff=lfs merge=lfs -text
*.[Pp][77][Ss] filter=lfs diff=lfs merge=lfs -text
*.[Gg][Rr][Aa][Pp][Hh] filter=lfs diff=lfs merge=lfs -text
*.[Dd][Bb] filter=lfs diff=lfs merge=lfs -text
*.[Dd][Aa][Tt] filter=lfs diff=lfs merge=lfs -text
*.[Cc][Hh][Mm] filter=lfs diff=lfs merge=lfs -text
*.[Bb][Mm][Pp] filter=lfs diff=lfs merge=lfs -text
*.[Aa][Aa][Rr] filter=lfs diff=lfs merge=lfs -text
*.[Pp][Dd][Nn] filter=lfs diff=lfs merge=lfs -text
*.[Ss][Oo] filter=lfs diff=lfs merge=lfs -text
*.[Bb][Uu][Nn][Dd][Ll][Ee] filter=lfs diff=lfs merge=lfs -text
*.[Dd][Yy][Ll][Ii][Bb] filter=lfs diff=lfs merge=lfs -text
/**/StreamingAssets/*.bank filter=lfs diff=lfs merge=lfs -text
/**/StreamingAssets/**/*.bank filter=lfs diff=lfs merge=lfs -text
/**/Plugins/fmodstudio.bundle/** filter=lfs diff=lfs merge=lfs -text
/**/Plugins/fmodstudioL.bundle/** filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
Assets/Plugins/FMOD/**/*.bundle text eol=lf
Assets/Plugins/FMOD/**/Info.plist text eol=lf
*.bank filter=lfs diff=lfs merge=lfs -text